
        /* اتجاه النص والعناصر اليميني (RTL) */
        html, body {
            direction: rtl;
            text-align: right;
            font-family: 'Cairo', sans-serif;
            font-size: 25px;
        }

        /* تنسيق العائلة باستخدام قائمة غير مرتبة */
        .family-tree {
            list-style-type: none;
            padding-left: 0;
        }

        .person {
            border: 1px solid #000;
            margin: 10px;
            padding: 10px;
            position: relative;
        }

        .person .name {
            font-weight: bold;
        }

        /*head data*/
        .headdata {
            font-weight: bold;
            text-align: center;
        }
        .person .spouse::before {
            content: " ";
        }

        /* الأطفال مخفيين افتراضيًا */
        .children {
            display: none;
        }

        /* تمتد الأطفال عندما يتم تحديد الصندوق (checkbox) */
        input[type="checkbox"]:checked ~ .children {
            display: block;
            
        }

        input[type="checkbox"]{
            width: 30px;
            height: 30px;
            background-color: #3498db;
        }
            
        /* تمثيل علامة التبديل */
        label.toggle-button {
            cursor: pointer;
            color: blue;
            position: absolute;
            top: 0;
            right: 0;
            padding: 5px;
        }
        img{
            width: 100%;
            height: 100%;
        }